.form {
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 2rem;
}

input {
  height: 75px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1.3rem;
}

.form button {
  position: absolute;
  right: 3rem;
  bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search {
  width: 50px;
  height: 50px;
}

.form input {
  font-size: 1rem;
}

@media (max-width: 920px) {
  .form input {
    font-size: 0.5rem;
  }
}
