header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background: #00294e;
  padding: 20px;
  color: white;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2.5rem;
  margin-right: 10px;
}

.logo-image {
  width: 50px; /* Modifiez la taille de l'image en fonction de vos besoins */
  height: auto; /* Utilisez "auto" pour maintenir les proportions de l'image */
}

.logo-text {
  color: gold;
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

@media (max-width: 920px) {
  header {
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
  }
  .logo-text {
    font-size: 2rem;
    margin: 0 1rem;
  }
  nav {
    gap: 10px;
    margin: 0 1rem;
  }

  a {
    font-size: 0.7rem;
  }
}
