/* root */
:root {
  --size: 30px;
  --white: #fff;
  --blue: #3051f1;
  --purple: #c92bb7;
  --red: #f73344;
  --orange: #fa8e37;
  --yellow: #fcdf8f;
  --yellow_to: #fbd377;
}

/* footer */
footer {
  background: #00294e;

  width: 100%;
  text-align: center;
  margin: auto;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff7a;
}

.top svg {
  width: 30px;
}

.facebook svg {
  fill: #0084ff;
}

.twitter svg {
  fill: #5ca7db;
}

.instagram {
  font-size: var(--size);
  width: 1em;
  aspect-ratio: 1;
  background: radial-gradient(
      circle farthest-corner at 28% 100%,
      var(--yellow) 0%,
      var(--yellow_to) 10%,
      var(--orange) 22%,
      var(--red) 35%,
      transparent 65%
    ),
    linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
  border-radius: 0.2em;
  position: relative;
  display: grid;
  place-items: center;
}

.instagram:before,
.instagram:after {
  content: "";
  color: var(--white);
  position: absolute;
  border-radius: inherit;
  aspect-ratio: 1;
}

.instagram:before {
  border: 0.05em solid;
  width: 65%;
}

.instagram:after {
  border-radius: 50%;
  border: 0.05em solid;
  width: 35%;
  box-shadow: 0.22em -0.22em 0 -0.18em;
}

.middle {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff7a;
}

.middle h3 {
  color: #ffffff;
}

.middle a,
.middle p,
.bottom {
  color: #ffffff99;
}

.bottom {
  padding: 10px;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 15px; */
}
.form-news input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
}

.form-news button {
  height: 20px;
  color: #000000;
  width: 200px;
}

@media (max-width: 920px) {
  .middle h3 {
    font-size: medium;
    margin: 0;
  }
  .form-news input {
    width: 100px;
    height: 25px;
    padding-left: 10px;
    font-size: 0.5rem;
  }

  .form-news button {
    height: 15px;
    color: #000000;
    width: 100px;
  }
  .middle {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
