main.wrapper app-container {
  background-color: #a2acb6;
  color: black;
}

p {
  padding-bottom: 2vh;
}

div.activities-mainpage {
  margin: 0 10vw;
  padding: 5vh 0;
}

.activities-presentation {
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2vh 2vw;
  border-radius: 10px;
}

.activities-presentation h2 {
  padding-bottom: 2vh;
}

.activities-categories {
  padding: 5vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.activities-categories-img,
.activity-ideas-img {
  border-radius: 20px;
}

section.activity-ideas {
  text-align: center;
  font-weight: bolder;
}

div.activity-ideas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
