h2 {
  text-align: center;
  color: #00294e;
  font-size: 2rem;
}

h3 {
  margin-top: 35px;
  font-size: 1.4rem;
  transition: width 1s ease 0s;
  text-align: center;
}
.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btn_event {
  width: 300px;
  height: 30px;
  cursor: pointer;
}
.event1,
.event2,
.event3 {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.event1 img,
.event2 img,
.event3 img {
  max-width: 100%;
}
