.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-search {
  width: 100%;
}

h1 {
  text-align: center;
  color: #00294e;
  margin: 25px;
}
.Explorer_carte {
  margin: 22px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
