

h1 {
  text-align: center;
  color: #00294e;
  margin: 25px;
}
.Explorer_carte {
  margin-top: 22px;
  margin-bottom: 22px;
}



.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 4px solid green;
 
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid green;
}

