* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: #00294e;
}
.Explorer_carte {
  margin-top: 22px;
  margin-bottom: 22px;
}

main {
  background: #a2acb6;
}

.section-search {
  display: inline-grid;
  gap: 42px;
  /* width: 850px; */
  /* margin-top: 90px; */
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  gap: 17rem;
  margin-right: 250px;
  padding-top: 125px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
