.restauration-page {
  column-count: 2;
  column-gap: 20px;
}

.display-restauration {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.display-restauration h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.display-restauration p {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

.display-restauration a {
  color: blue;
}

.restauration-image {
  width: 17cm;
  height: 17cm;
  object-fit: cover;
  border-radius: 5px;
}
