.site-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 20px;
}

.display-site {
  width: 800px;
  background-color: #00294e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.display-site h3 {
  color: #ab8a27;
  font-size: 24px;
  margin-bottom: 10px;
}

.display-site p {
  display: flex;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 2rem;
}

.display-site a {
  color: blue;
  display: block;
  width: 40rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-image {
  max-width: 100%;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 5px;
}
