.wrapper {
  color: white;
  min-height: calc(100vh - (80px + 80px));
  background: #a2acb6;
}

a {
  color: white;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

a:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 40px;
  }
}
