.accommodation-page {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin: 20px;
}

.display-accommodation {
  width: 800px;
  background-color: #00294E;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.display-accommodation h3 {
  color: #ab8a27;
  font-size: 24px;
  margin-bottom: 10px;
}

.display-accommodation p {
  display: flex;
    gap: 10px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}

.display-accommodation a {
  color: blue;
  display: block;
  width: 40rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accommodation-image {
  max-width: 100%;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 5px
}

