.form-connection {
  display: flex;
  flex-direction: column;
}

.h2-connection {
  font-size: x-large;
  margin-top: 25px;
  padding: 7px;
}

.input-connection {
  height: 6vh;
  opacity: 0.7;
  border-radius: 10px;
}

.button-submit {
  height: 30px;
  margin-top: 25px;
  background-color: #00294e;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: large;
}
